In [3]:
text = [['a', 'b', 'c'], ['a', 'c', 'd', 'c', 'e', 'f']]

In [4]:
from nltk import bigrams
list(bigrams(text[0]))

[('a', 'b'), ('b', 'c')]

In [5]:
from nltk.lm.preprocessing import pad_both_ends
list(bigrams(pad_both_ends(text[0], 2)))

[('<s>', 'a'), ('a', 'b'), ('b', 'c'), ('c', '</s>')]

In [6]:
from nltk.util import everygrams
padded_bigrams = list(pad_both_ends(text[0], 2))
list(everygrams(padded_bigrams, max_len=2))

[('<s>',),
 ('<s>', 'a'),
 ('a',),
 ('a', 'b'),
 ('b',),
 ('b', 'c'),
 ('c',),
 ('c', '</s>'),
 ('</s>',)]

In [7]:
from nltk.lm.preprocessing import flatten
list(flatten(pad_both_ends(sent, n=2) for sent in text))

['<s>', 'a', 'b', 'c', '</s>', '<s>', 'a', 'c', 'd', 'c', 'e', 'f', '</s>']

In [8]:
from nltk.lm.preprocessing import padded_everygram_pipeline
train, vocab = padded_everygram_pipeline(2, text)

In [9]:
from nltk.lm import MLE
lm = MLE(2)
len(lm.vocab)

0

In [10]:
lm.fit(train, vocab)
print(lm.vocab)
len(lm.vocab)

<Vocabulary with cutoff=1 unk_label='<UNK>' and 9 items>

9

In [11]:
lm.vocab.lookup(text[0])

('a', 'b', 'c')

In [12]:
print(lm.counts)
print(lm.counts['a'])

<NgramCounter with 2 ngram orders and 24 ngrams>
2

In [13]:
lm.logscore("e",["c"])

-1.5849625007211563

In [14]:
test=[("a")]

In [15]:
lm.generate(2, random_seed=3)

['<s>', 'a']

In [28]:
from nltk.tokenize.treebank import TreebankWordDetokenizer

detokenize = TreebankWordDetokenizer().detokenize

def generate_sent(model, num_words, random_seed=42):
    """
    :param model: An ngram language model from `nltk.lm.model`.
    :param num_words: Max no. of words to generate.
    :param random_seed: Seed value for random.
    """
    content = []
    for token in model.generate(num_words, random_seed=random_seed):
        if token == '<s>':
            continue
        if token == '</s>':
            break
        content.append(token)
    return detokenize(content)

In [88]:
import pandas as pd
df = pd.read_csv('Corona_NLP_test.csv')
from nltk import word_tokenize, sent_tokenize

In [89]:
df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative
1,2,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive
2,3,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Extremely Positive
3,4,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative
4,5,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral

In [91]:
covid_corpus = list(df['OriginalTweet'].apply(word_tokenize))

In [92]:
n = 3
train_data, padded_sents = padded_everygram_pipeline(n, musk_corpus)

In [93]:
from nltk.lm import MLE
model = MLE(n) # Lets train a 3-grams model, previously we set n=3
model.fit(train_data, padded_sents)

In [103]:



generate_sent(model, num_words=20, random_seed=40)

'at the DOCTORS OFFICES, telling me how wonderful @ realDonaldTrump should sanction today 50% on any elderly neighbours'